@media (max-width: 1024px) {
  .container {
    max-width: 729px;
  }

  h2,
  .title {
    font-size: 18px;
  }

  .button {
    font-size: 13px;
    padding: 15px 12px;
  }

  .header {
    &-container {
      max-width: 692px;
    }

    &-top {
      &__map {
        margin-right: 0;
        margin-left: 0;
      }

      &__logo {
        font-size: 13px;
        line-height: 16px;

        & img {
          width: 100px;
        }
      }

      &__siti {
        font-size: 13px;
        line-height: 16px;
      }

      &__phone {
        padding: 11px 32px 10px 32px;

        &-number {
          font-size: 13px;
          line-height: 16px;
        }
      }

      &-bottom {
        max-width: 729px;
      }
    }
  }

  .icon {
    width: 16px;
    height: 15px;

    &-map {
      width: 11px;
      height: 10px;
    }
  }

  .menu {
    &-list {
      padding: 43px 0 29px 0;

      &__link {
        font-weight: 200;
        font-size: 13px;
        line-height: 119.9%;
        text-align: center;
        letter-spacing: 0.025em;
      }
    }
  }

  .mainpage {
    &__title {
      font-size: 20px;
      line-height: 1.25;
      margin-bottom: 8px;
    }

    &__subtitle {
      font-size: 14px;
      margin-bottom: 25px;
    }

  }

  .mainpage-info {
    justify-content: center;
    position: relative;

    & .card {
      position: absolute;
      top: 140px;
      margin-right: 0;
    }

    & .card-img {
      width: 100%;
    }

    & .card-img img {
      width: 100%;
    }
  }

  .pricelist__title {
    padding-bottom: 10px;
  }

  .table {
    &__section {
      flex-direction: column;
      margin-bottom: 10px;
    }

    &__row-title-box {
      display: block;
      margin-right: 0;
      position: relative;
      flex-basis: unset;
    }

    &__row-title {
      margin: 20px 0 0;
      position: absolute;
      width: 100%;

    }

    &__row-img {
      display: inline-block;
      width: 62px;
      height: 58px;
      margin-bottom: 10px;

      & img {
        display: block;
        max-width: 100%;
        // object-fit: contain;
      }
    }

    &__row-img--divan {
      display: none;
    }

    &__content-box {
      padding-left: 30px;
    }

    &__content-box--dop {
      margin-top: 0;
    }


    &__content-row {}

    &__row-left-col {
      margin-bottom: 15px;
      flex-basis: 50%;
    }

    &__row-subtitle {
      margin-bottom: 0;
      font-size: 12px;
    }

    &__row-line {
      margin-right: 5px;
      white-space: nowrap;
      overflow: hidden;

      &::after {
        content: '';
        display: inline-block;
        height: 1px;
        background-color: rgba(0, 0, 0, 0.3);
        margin: 3px 5px;
        width: 100%;
      }
    }

    &__row-price.table__row-line {
      flex-grow: 1;
      margin-right: 5px;
    }

    &__row-text,
    &__row-price {
      font-size: 12px;
      flex-basis: unset;
    }


    &__row-text {}

    &__row-price {
      min-width: 60px;
      margin-left: 10px;
    }

    &__row-right-col {}
  }

  .calculator {
    &__contents {
      padding: 35px 50px;
    }

    &__name {
      font-size: 12px;
      width: 64px;
    }

    &__info {
      margin-bottom: 0;
    }

    &__resource {
      padding-top: 10px;
    }

    .counter {
      // width: 60px;
      width: unset;
      margin-right: 15px;
    }

    .counter .quantity {
      width: 20px;
      font-size: 14px;
    }

    .counter__button {
      width: 20px;
      height: 20px;

      &.bt_plus img {
        width: 10px;
      }

      &.bt_minus img {
        width: 8px;
      }
    }

    .calc {
      margin-right: 15px;
    }

    .r_calc,
    .options_calc,
    .options_calc div {
      width: 150px;
      font-size: 12px;
      line-height: 1.25;
    }

    .r_calc {
      margin-top: 11px;
      padding: 3px 17px 3px 10px;
      background-size: 7px 8px;
      background-position: right 10px center;
    }

    .options_calc {
      top: 33px;
    }

    .options_calc div {
      padding: 3px 1px;
    }

    &__btn {
      margin-top: 10px;
      margin-bottom: 25px;
    }

    &__btn-discount {
      padding: 10px 36px;
      max-width: 160px;
    }
  }

  // offer 1024px
  .offer {

    &::before {
      // пузырики
      width: 612px;
      height: 196px;
      bottom: 28px;
    }

    &__wrapper {
      padding: 0 135px;
      height: 92px;

      &::before {
        // левая пена
        width: 246px;
        height: 107px;
        left: -80px;
      }

      &::after {
        // правая пена
        width: 243px;
        height: 107px;
        right: -80px;
      }
    }

    &__title,
    &__text {
      font-size: 18px;
    }
  }

  // offer 1024px

  // works 1024
  .works {
    padding: 20px 0;

    &__wrapper-box {
      display: flex;
      justify-content: center;
    }

    &__wrapper {
      display: inline-grid;
      // grid-template-columns: repeat(2, 1fr);
      row-gap: 30px;
      column-gap: 50px;
    }

    &__item,
    .img-comp-img img {
      height: 168px;
      width: 305px;
    }

    .img-comp-slider {
      width: 32px;
      height: 32px;

      &::before {
        width: 12px;
        height: 12px;
        top: 50%;
        transform: translateY(-50%);
        left: 2px;
      }

      &::after {
        width: 12px;
        height: 12px;
        top: 50%;
        transform: translateY(-50%);
        right: 2px;
      }
    }


  }
  // /works 1024


}

// /@media (max-width: 1024px)

// @media (max-width: 768px)
@media (max-width: 768px) {
  .container {
    max-width: 661px;
  }

  .header {
    &-container {
      max-width: 628px;
    }

    &-top {
      &__logo img {
        width: 80px;
      }

      &__phone {
        padding: 5px 7px 1px 5px;
      }

      &__menu-btn {
        display: block;
        margin-left: 10px;
        margin-right: 10px;
      }

      &__map {
        display: none;
      }
    }
  }

  .menu {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    z-index: 1;

    &-list {
      flex-direction: column;
      padding: 44px 0 10px 0;

      &__item {
        margin-right: 22px;
        margin-bottom: 27px;
      }

      &__link {
        font-weight: 500;
        color: #11325A;

        &:hover,
        &:active {
          color: #FF7400;
        }
      }
    }
  }

  .mainpage {
    &__city {
      display: flex;
    }

    .mainpage-info {
      padding-bottom: 40px;
      flex-direction: column-reverse;
      justify-content: center;
      position: relative;

      & .card {
        padding: 40px;
        position: unset;
        top: 140px;
        margin-right: 0;
        width: 200px;
      }

      & .card-img {
        width: 90%;
      }

      & .card-img img {
        width: 100%;
      }

      & .card-title,
      & .card-closeout {
        font-size: 14px;
      }
    }

    .mainpage-input__group {

      & input {
        height: 32px;
        width: 140px;
        margin-bottom: 12px;
        font-size: 14px;
        font-weight: 600;
      }

      & input::placeholder {
        font-size: 13px;
      }
    }

    .bell-button {
      width: 194px;
      height: 49px;
      padding: 16px 14px;
      font-size: 14px;
      margin-top: 10px;
    }
  }

  .pricelist {
    padding: 0;

    &__title {
      padding-bottom: 20px;
    }
  }

  .calculator {
    &__card {
      width: 100%;
    }

    &__contents {
      // padding: 35px 10%;
    }

    &__info {
      flex-wrap: wrap;
    }

    &__name {
      flex-grow: 1;
    }

    &__units {
      width: 100%;
    }

    &__resource {
      width: 100%;
      padding-top: 0;
    }

    .calc {
      margin-right: 0;
      width: 48.5%;
    }

    .r_calc,
    .options_calc,
    .options_calc div {
      width: 100%;
    }

    .options_calc {
      padding-right: 0;
    }

    .calc--margins {
      margin: 0 2.7%;
    }
  }

  .offer {
    padding: 55px 0 60px;

    &::before {
      // пузырики
      width: 413px;
      height: 130px;
      bottom: 40px;
    }

    &__wrapper {
      padding: 0 115px;
      height: 61px;
      // background-color: #FF7400;

      &::before {
        // левая пена
        width: 167px;
        height: 71px;
        left: -50px;
      }

      &::after {
        // правая пена
        width: 180px;
        height: 71px;
        right: -50px;
      }
    }

    &__title,
    &__text {
      font-size: 13px;
    }
  }
  // works 768
  .works {
    padding: 0;

    &__title {
      margin-bottom: 40px;
    }

    &__wrapper {
      row-gap: 30px;
      column-gap: 35px;
    }

    &__item,
    .img-comp-img img {
      // /*should be the same height as the images*/
      height: 118px;
      width: 215px;
    }
  }
  // /works 768

}

// /@media (max-width: 768px)

// @media (max-width: 600px)
@media (max-width: 600px) {

  .card-image.image--desktop {
    display: none;
  }

  .card-image.image--phone {
    display: block;
  }

  .pricelist__title {
    padding-bottom: 0;
  }

  .table {
    &__row-title {
      padding-bottom: 20px;
      font-weight: 500;
      text-align-last: left;
      position: unset;
    }

    &__row-img {
      display: none;
    }

    &__row-line {
      white-space: unset;
    }

    &__content-box {
      padding-left: 0;
    }

    &__content-row {
      align-items: flex-start;
    }

    &__row-left-col {
      flex-basis: 85%;
      margin-right: 10px;
    }

    &__row-right-col {
      flex-wrap: wrap;
    }

    &__row-price.table__row-line {
      flex-grow: unset;
      margin-right: 0;
    }


    &__row-price {
      line-height: 1.25;
    }

    &__row-text {
      flex-basis: 40%;
    }

    &__row-text--single {
      flex-basis: 100%;
    }

    &__row-price {}

    &__row-line::after {
      display: none;
    }
  }

  // offer 600px
  .offer {
    padding: 55px 0 90px;

    &::before {
      // пузырики
      background-image: none;
    }

    &__wrapper {
      padding: 5px 70px 5px;
      height: 61px;

      &::before {
        // левая пена
        left: -80px;
      }

      &::after {
        // правая пена
        height: 74px;
        right: -88px;
      }
    }

    &__content {
      flex-direction: column;
      justify-content: center;
      position: relative;
    }

    &__text {
      position: absolute;
      top: 80px;
    }

    &__text,
    &__link {
      color: #11325a;
    }
  }
  // /offer 600px

}

// /@media (max-width: 600px)

// @media (max-width: 510px)
@media (max-width: 510px) {
  // works 510
  .works {
    
    &__wrapper {
      display: inline-grid;
      grid-template-columns: 1fr;
      row-gap: 30px;
      column-gap: 35px;
    }

    &__item,
    .img-comp-img img {
      // /*should be the same height as the images*/
      height: 153px;
      width: 280px;
    }
  }
  // /works 510
}
// /@media (max-width: 510px)

// @media (max-width: 400px)
@media (max-width: 400px) {
  .mainpage {
    &__title {
      font-size: 16px;
    }
  }

  .table {
    &__row-left-col {
      flex-basis: 55%;
    }
  }

  .calculator {
    &__contents {
      padding: 35px 5%;
    }

    .r_calc,
    .options_calc,
    .options_calc div {
      font-size: 10px;
    }
  }

}