@import 'vars';
// @import 'reset';
@import 'normalize';
@import 'global';


// header
.header {
  padding-top: 10px;
  padding-bottom: 11px;
  background: rgba(125, 219, 254, 0.85);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      text-decoration: none;
      color: $text-color;
    }

    &__siti {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }

    &__map {
      margin-right: auto;
      margin-left: 87px;
    }

    &__phone {
      padding: 11px 36px 10px 36px;
      background-color: #fff;
      border-radius: 20px;

      &-number {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-decoration: none;
        color: $text-color;
      }
    }

    &__icon {
      margin-right: 2px;
    }
  }

  &-icon {
    display: flex;
    align-items: flex-start;
  }
}

.menu {
  &-list {
    margin: 0;
    padding: 48px 0 73px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      list-style: none;
      margin-right: 73px;

      &:last-child {
        margin-right: 0;
      }
    }

    &__link {
      text-decoration: none;
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.015em;
      color: $text-color;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}
// /header

// mainpage
.mainpage {
  &__title {
    margin-top: 0;
    margin-bottom: 15px;
  }

  &-input {
    &__group {
      position: relative;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #11325A;
    margin-bottom: 39px;
    margin-top: 0;
    display: block;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 83px;
  }
}

.card {
  width: 373px;
  height: 369px;
  background: #FFFFFF;
  box-shadow: 0px 31px 67px rgba(0, 0, 0, 0.08);
  padding: 51px 53px 52px 53px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 42px;
  border-radius: 50px;

  &-image {
    object-fit: cover;
  }

  &-title {
    margin-bottom: 17px;
    text-align: center;
  }

  &-closeout {
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FF7400;
  }
}

.bell {
  text-align: center;

  &-input {
    width: 209px;
    height: 46px;
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 27px;
    }
  }

  &-button {
    width: 267px;
    height: 73px;
  }
}


label {
  &.invalid {
    position: absolute;
    content: "";
    top: 47px;
    left: 30px;
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;

    &::after {
      position: absolute;
      top: -5px;
      background-color: red;
      content: "";
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      left: 15px;
    }
  }
}
// /mainpage

// pricelist
.pricelist {
  padding-bottom: 130px;

  &__title {
    padding-bottom: 51px;
    margin: 0;
  }
}

.table {
  &td {
    min-width: 65px;
  }

  &-title {
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.025em;
    color: #11325A;
  }

  &__subtitle {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 22px;
  }

  &-img {
    padding-top: 22px;
    text-align: center;
  }

  &-dop {
    padding: 0;
    display: block;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
  }

  &__aside {
    min-width: 40px;
  }

  &__text {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #11325A;
  }

  &__superfluous {
    padding-bottom: 0;
  }
}

.gop {
  min-width: 85px;
}
// /pricelist

// calculator
.calculator {
  &__container {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 41px 72px -10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

  &__title {
    margin: 0;
    padding-bottom: 29px;
  }

  &__contents {
    padding: 44px 80px 35px 106px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #11325A;
    max-width: 86px;

    &--couch {
      padding-right: 43px;
    }

    &--armchair {
      padding-right: 35px;
    }

    &--chair {
      padding-right: 58px;
    }

    &--pouffe {
      padding-right: 62px;
    }

    &--mattress {
      padding-right: 35px;
    }
  }

  &__info {
    display: flex;
    align-items: center;
    padding-bottom: 67px;

    &--mattress {
      padding-bottom: 61px;
    }

    &--prelast {
      padding-bottom: 27px;
    }

    &--last {
      padding-bottom: 56px;
    }
  }

  &__form {
    position: relative;
  }

  &__resource {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__material {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(137, 247, 254, 0.92);
    padding: 7px 38px;
    width: 160px;
    margin-right: 40px;
    background-color: #fff;
  }

  &__arrow {
    position: absolute;
    content: "";
    bottom: 6px;
    right: 50px;
    background-color: #fff;
    border: none;
  }

  &__requer {
    padding-top: 12px;
    padding-bottom: 62px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin-right: 27px;

  &__button {
    background: rgba(137, 247, 254, 0.8);
    border-radius: 2px;
    border: none;
    width: 30px;
    height: 30px;
    text-align: center;
  }
}
// /calculator

// offer
.offer {
  padding: 95px 0 60px;
  overflow: hidden;
  position: relative;
  &::before {
    content: '';
    width: 329px;
    height: 242px;
    background-image: url('../images/offer-bubbles-2.png');
    position: absolute;
    left: 50%;
    bottom: -80px;
    z-index: 1;
  }
  &__wrapper {
    padding: 15px 0 10px;
    background-color: #FF7400;
    position: relative;
    &::before {
      content: '';
      width: 485px;
      height: 344px;
      background-image: url('../images/offer-bubbles-1.png');
      position: absolute;
      left: 0;
      bottom: -80px;
    }
    &::after {
      content: '';
      width: 471px;
      height: 354px;
      background-image: url('../images/offer-bubbles-3.png');
      position: absolute;
      right: 0;
      bottom: -80px;
    }
  }
  &__content {
    max-width: 846px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__title {
    text-transform: uppercase;
    margin-right: 50px;
  }
  &__title, 
  &__text {
    flex-basis: 50%;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    color: #FFFFFF;
  }
}
.container {
}
.box {
  border: 1px solid #000;
  width: 200px;
  padding: 100px;
}
.inner {
  width: 100px;
  height: 100px;
  border: 1px solid #000;
}
// /offer

// works
.works {
  padding: 100px 0 50px;
  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 50px;
  }
  &__item {
    position: relative;
    /*should be the same height as the images*/
    height: 290px;
  }
}
.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}
.img-comp-img img {
  display: block;
  vertical-align: middle;
  width: 460px;
  height: 290px;
}
.img-comp-slider {
  position: absolute;
  z-index: 5;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 80px;
  height: 80px;
  // background-color: #E4D8CE;
  // opacity: 0.7;
  border-radius: 50%;
  background: linear-gradient(219.31deg, rgba(255, 255, 255, 0.31) 15.65%, rgba(255, 255, 255, 0) 84.26%);
  border: 1px solid rgba(255, 255, 255, 0.62);
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1), inset 5px 5px 10px rgba(255, 255, 255, 0.1);
  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(46px);
  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/svg/works-left-arrow.svg');
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
  }
  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/svg/works-right-arrow.svg');
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  }
}
// /works

// equipment
.equipment {
  padding: 75px 0;
  &__title {
  }
  &__wrapper {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    flex-basis: 30%;
  }
  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }
  &__img img {
    width: 100%;
    object-fit: cover;
  }
  &__img-3 img {
    width: 65%;
    object-fit: cover;
  }
  &__text {
    text-align: center;
    font-weight: 400;
    & span {
      font-weight: 600;
      font-style: italic;
    }
  }
}
// /equipment

//  faq
.faq {
  padding: 50px 0;
  &__wrapper {
    padding: 50px 0 50px;
    box-shadow: 0px 21px 72px -10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
}
.accordion {
  width: 100%;
  &__item {
    max-width: 690px;
    margin: 0 auto;
    border: 1px solid transparent;
  }
  &__header {
    padding: 0px 20px 0px 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #11325A;
    &::before {
      content: '+';
      font-family: Montserrat;
      font-weight: normal;
      font-size: 36px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      position: absolute;
      top: -4px;
      left: 0px;
      width: 30px;
      height: 30px;
      background: rgba(137, 247, 254, 0.8);
      border-radius: 2px;
      // background-image: url('../images/arrow_down.svg');
      // background-repeat: no-repeat;
      // background-position: center center;
      transition: .5s;
    }
    &:hover {
      text-decoration: underline;
    }
    &--active {
      text-decoration: underline;
      &::before {
        content: '\2212';
      }
    }
  }
  &__text {
    padding: 0 0 5px 50px;
    display: none;
  }
}
// /faq

// contacts
.contacts {
  padding: 70px 0 70px;
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__title {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
 }
  &__link {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #11325A;
    text-decoration: none;
    position: relative;
    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 35px;
      background-image: url('../images/svg/phone.svg');
      left: -33px;
    }
  }
}
// /contacts

// footer
.footer {
  padding: 20px 0 15px;
  background: rgba(125, 219, 254, 0.85);

  &__text,
  &__link-email {
    margin-bottom: 35px;
    font-weight: normal;
    font-size: 20px;
    color: #000;
  }
  &__link-email {
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
  }
  &__link-instagram {
    padding-left: 5px;
    vertical-align: middle;
  }
  &__confidential {
    font-weight: 200;
    font-size: 20px;
    color: #000000;
  }
}
// /footer



@import 'media';

