@import 'vars';
// @import 'reset';
@import 'normalize';
@import 'libs';
@import 'global';


// header
.header {
  padding-top: 10px;
  padding-bottom: 11px;
  background: rgba(125, 219, 254, 0.85);
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);

  &-top {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__logo {
      font-style: normal;
      font-weight: 800;
      font-size: 25px;
      line-height: 30px;
      text-align: center;
      text-decoration: none;
      color: $text-color;

      & img {
        width: 150px;
      }
    }

    &__siti {
      font-style: normal;
      font-weight: 600;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
    }

    &__map {
      margin-right: auto;
      margin-left: 87px;
    }

    &__phone {
      padding: 11px 36px 10px 36px;
      background-color: #fff;
      border-radius: 20px;

      &-number {
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 29px;
        text-decoration: none;
        color: $text-color;
      }
    }

    &__icon {
      margin-right: 2px;
    }

    &__menu-btn {
      display: none;
      width: 34px;
      height: 22px;
      padding: 2px;
      background-color: transparent;
      border: none;
      cursor: pointer;
      outline: none;
      transition: .3s;
      z-index: 10;

      & img {
        width: 30px;
        margin: 0 auto;
      }
    }

  }

  &-icon {
    display: flex;
    align-items: flex-start;
  }
}

.menu {
  &-list {
    margin: 0;
    padding: 48px 0 73px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__item {
      list-style: none;
    }

    &__link {
      text-decoration: none;
      font-style: normal;
      font-weight: 200;
      font-size: 16px;
      line-height: 20px;
      text-align: center;
      letter-spacing: 0.015em;
      color: $text-color;

      &:hover {
        opacity: 0.7;
      }
    }
  }
}

// /header

// mainpage
.mainpage {
  &__city {
    display: none;
    // display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 27px;
    margin-left: 20px;
  }

  &__city-icon {
    margin-right: 2px;
  }

  &__city-text {
    font-size: 14px;
    font-weight: 300;
  }

  &__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-weight: 800;
    line-height: 1.25;
  }

  &-input {
    &__group {
      position: relative;
    }
  }

  &__subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #11325A;
    margin-bottom: 39px;
    margin-top: 0;
    display: block;
  }

  &-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 83px;
  }
}

.card {
  width: 373px;
  // height: 369px;
  background: #FFFFFF;
  box-shadow: 0px 31px 67px rgba(0, 0, 0, 0.08);
  padding: 51px 53px 52px 53px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-right: 20px;
  border-radius: 50px;

  &-image {
    object-fit: cover;

    &.image--phone {
      display: none;
    }

  }

  &-title {
    margin-bottom: 17px;
    text-align: center;
  }

  &-closeout {
    font-style: italic;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FF7400;
  }
}

.bell {
  text-align: center;

  &-input {
    width: 209px;
    height: 46px;
    margin-bottom: 21px;

    &:last-child {
      margin-bottom: 27px;
    }
  }

  &-button {
    width: 267px;
    height: 73px;
  }
}


label {
  &.invalid {
    position: absolute;
    content: "";
    top: 47px;
    left: 30px;
    background-color: red;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;

    &::after {
      position: absolute;
      top: -5px;
      background-color: red;
      content: "";
      width: 10px;
      height: 10px;
      transform: rotate(45deg);
      left: 15px;
    }
  }
}
// /mainpage

// pricelist
.pricelist {
  padding: 80px 0 100px;

  &__title {
    padding-bottom: 51px;
    margin: 0;
  }
}

.table {
  &__section {
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
  }

  &__row-title-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    flex-basis: 155px;

  }

  &__row-title {
    margin: -10px 0 10px;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.025em;
    text-transform: uppercase;
  }

  &__row-img--divan {
    margin-top: 130px;
  }

  &__content-box {
    flex-grow: 1;
  }

  &__content-box--dop {
    margin-top: 30px;
  }

  &__content-row {
    display: flex;
    justify-content: space-between;
  }

  &__row-left-col {
    margin-bottom: 20px;
  }

  &__row-subtitle {
    margin: 0 0 5px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
  }

  &__row-text,
  &__row-price {
    margin: 0;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    flex-basis: 20%;
  }

  &__row-text {
    flex-basis: 10%;
  }

  &__row-text--single {
    flex-basis: 100%;
  }

  &__row-price {
    margin-left: -20px;
  }

  &__row-right-col {
    display: flex;
    justify-content: space-between;
    flex-basis: 50%;
  }
}

// calculator
.calculator {
  &__container {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card {
    background: #FFFFFF;
    box-shadow: 0px 41px 72px -10px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
  }

  &__title {
    margin: 0;
    padding-bottom: 29px;
  }

  &__contents {
    padding: 44px 80px 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__name {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #11325A;
    width: 86px;
    margin-right: 10px;
  }

  &__info {
    display: flex;
    align-items: center;
    min-height: 56px;
    margin-bottom: 25px;
  }

  &__units {
    display: flex;
    justify-content: space-between;
  }

  &__form {
    position: relative;
  }

  &__resource {
    min-height: 56px;
    display: flex;
    // align-items: center;
    padding-top: 19px;
    justify-content: space-between;
  }

  &__material {
    box-sizing: border-box;
    font-style: normal;
    font-weight: 200;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    border: 1px solid rgba(137, 247, 254, 0.92);
    padding: 7px 38px;
    width: 160px;
    margin-right: 40px;
    background-color: #fff;
  }

  &__arrow {
    position: absolute;
    content: "";
    bottom: 6px;
    right: 50px;
    background-color: #fff;
    border: none;
  }

  &__requer {
    padding-top: 12px;
    // padding-bottom: 62px;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
  }

  &__note {
    padding: 0;
    margin: 0;
    font-size: 10px;
    font-weight: 400;
  }

  &__btn {
    // background: none;
    // background-color: #ff7406;
    background: linear-gradient(93.46deg, #89F7FE 10.81%, #66A6FF 82.67%);
    margin-bottom: 30px;
  }
  &__btn-discount {
    // padding: 10px 36px;
    background: #FF7400;
    box-shadow: 0px 6px 29px #E5E5E5;
    color: #fff;
  }
  & .result_calculator {
    display: none;
  }
}

.counter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin-right: 20px;

  & .quantity {
    margin: 0;
    padding: 0;
    font-weight: 600;
    width: 24px;
    text-align: center;
    border: none;
  }

  &__button {
    padding: 0;
    margin: 0;
    background: rgba(137, 247, 254, 0.8);
    border-radius: 2px;
    border: none;
    width: 30px;
    height: 30px;
    outline: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.calc {
  margin-right: 20px;
  position: relative;

  & * {
    box-sizing: border-box;
    text-align: center;
  }
}

.calc:last-child {
  margin-right: 0;
}

.calc__box {
  display: flex;
  align-items: center;
  min-height: 56px;
}

.r_calc,
.options_calc,
.options_calc div {
  width: 200px;
}

.r_calc {
  font-weight: 400;
  box-sizing: border-box;
  padding: 7px 20px 7px 10px;
  border: 1px solid rgba(137, 247, 254, 0.92);
  outline: none;
  background: url('../images/svg/arrow-down.svg') no-repeat right 12px center;
  cursor: pointer;
}

.r_calc--long {
  letter-spacing: -.5px;
}

.options_calc {
  font-weight: 400;
  position: absolute;
  padding-right: 18px;
  top: 35px;
  right: 0;
  border-top: 1px solid rgba(137, 247, 254, 0.92);
  z-index: 2;

  & div {
    border-bottom: 1px solid rgba(137, 247, 254, 0.92);
    border-right: 1px solid rgba(137, 247, 254, 0.92);
    border-left: 1px solid rgba(137, 247, 254, 0.92);
    padding: 7px 0;
    padding-right: 1px;
    cursor: pointer;
    background-color: #fff;
  }
}

.options_calc div:hover,
.active {
  background: rgba(137, 247, 254, 0.92);
}

.options_calc {
  display: none;
}
// /calculator

// offer
.offer {
  padding: 95px 0 60px;
  overflow: hidden;
  position: relative;

  &::before {
    content: '';
    width: 796px;
    height: 287px;
    background-image: url('../images/offer-bubbles-2.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    // left: 20%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 7px;
    z-index: 1;
  }

  &__wrapper {
    padding: 0 210px 0 215px;
    height: 158px;
    // background-color: #FF7400;
    background-color: #6BB2FF;
    position: relative;

    &::before {
      content: '';
      width: 359px;
      height: 158px;
      background-image: url('../images/offer-bubbles-1.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      left: -100px;
      bottom: 0;
    }

    &::after {
      content: '';
      width: 359px;
      height: 158px;
      background-image: url('../images/offer-bubbles-3.png');
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      right: -100px;
      bottom: 0px;
    }
  }

  &__content {
    max-width: 846px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__title,
  &__text {
    margin: 0;
    font-weight: bold;
    font-size: 25px;
    line-height: 1.25;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
  }

  &__title {
    text-transform: uppercase;
    // margin-right: 20px;
    flex-basis: 53%;
  }

  &__text {
    flex-basis: 46%;
  }

  &__link {
    text-decoration: none;
    color: #FFFFFF;
    white-space: nowrap;
  }
}

// .box {
//   border: 1px solid #000;
//   width: 200px;
//   padding: 100px;
// }

// .inner {
//   width: 100px;
//   height: 100px;
//   border: 1px solid #000;
// }

// /offer

// works
.works {
  padding: 50px 0;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 50px;
    column-gap: 50px;
  }

  &__item {
    position: relative;
    /*should be the same height as the images*/
    height: 290px;
  }
}

.img-comp-img {
  position: absolute;
  width: auto;
  height: auto;
  overflow: hidden;
}

.img-comp-img img {
  display: block;
  vertical-align: middle;
  width: 460px;
  height: 290px;
}

.img-comp-slider {
  position: absolute;
  z-index: 5;
  cursor: ew-resize;
  /*set the appearance of the slider:*/
  width: 80px;
  height: 80px;
  // background-color: #E4D8CE;
  // opacity: 0.7;
  border-radius: 50%;
  background: linear-gradient(219.31deg, rgba(255, 255, 255, 0.31) 15.65%, rgba(255, 255, 255, 0) 84.26%);
  border: 1px solid rgba(255, 255, 255, 0.62);
  box-shadow: inset -5px -5px 10px rgba(255, 255, 255, 0.1), inset 5px 5px 10px rgba(255, 255, 255, 0.1);
  /* Note: backdrop-filter has minimal browser support */
  backdrop-filter: blur(46px);

  &::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/svg/works-left-arrow.svg');
    background-size: cover;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
  }

  &::after {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url('../images/svg/works-right-arrow.svg');
    background-size: cover;
    top: 50%;
    transform: translateY(-50%);
    right: 5px;
  }
}

// /works

// equipment
.equipment {
  padding: 75px 0;

  &__title {}

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__item {
    flex-basis: 30%;
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
  }

  &__img img {
    width: 100%;
    object-fit: cover;
  }

  // &__img-3 img {
  //   width: 65%;
  //   object-fit: cover;
  // }

  &__text {
    text-align: center;
    font-weight: 400;

    & span {
      font-weight: 600;
      font-style: italic;
    }
  }
}

// /equipment

//  faq
.faq {
  padding: 50px 0;

  &__wrapper {
    padding: 50px 0 50px;
    box-shadow: 0px 21px 72px -10px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
  }
}

.accordion {
  width: 100%;

  &__item {
    max-width: 690px;
    margin: 0 auto;
    border: 1px solid transparent;
  }

  &__header {
    padding: 0px 20px 0px 50px;
    margin-top: 10px;
    margin-bottom: 20px;
    cursor: pointer;
    position: relative;
    font-family: Montserrat;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #11325A;

    &::before {
      content: '+';
      font-family: Montserrat;
      font-weight: normal;
      font-size: 36px;
      line-height: 30px;
      text-align: center;
      color: #000000;
      position: absolute;
      top: -4px;
      left: 0px;
      width: 30px;
      height: 30px;
      background: rgba(137, 247, 254, 0.8);
      border-radius: 2px;
      // background-image: url('../images/arrow_down.svg');
      // background-repeat: no-repeat;
      // background-position: center center;
      transition: .5s;
    }

    &:hover {
      text-decoration: underline;
    }

    &--active {
      text-decoration: underline;

      &::before {
        content: '\2212';
      }
    }
  }

  &__text {
    padding: 0 0 5px 50px;
    display: none;
  }
}

// /faq

// contacts
.contacts {
  padding: 70px 0 70px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__title {
    padding: 0;
    margin: 0;
    font-family: Montserrat;
    font-weight: 800;
    font-size: 25px;
    line-height: 30px;
  }

  &__link {
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 37px;
    color: #11325A;
    text-decoration: none;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      width: 30px;
      height: 35px;
      background-image: url('../images/svg/phone.svg');
      left: -33px;
    }
  }
}

// /contacts

// footer
.footer {
  padding: 20px 0 15px;
  background: rgba(125, 219, 254, 0.85);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text,
  &__link-email {
    margin-bottom: 35px;
    font-weight: normal;
    font-size: 20px;
    color: #000;
  }

  &__link-email {
    padding-left: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
  }

  &__link-instagram {
    padding-left: 5px;
    vertical-align: middle;
  }

  &__confidential {
    font-weight: 200;
    font-size: 20px;
    color: #000000;
  }

  &__logo img {
    width: 180px;
  }
}

// /footer

// modal
.modal {
  // display: none;
  align-items: center;
  justify-content: center;

  // background-color: transparent;
  &__card {
    // margin: 0 15px;
    box-sizing: border-box;
    // max-width: 967px;
    max-width: 600px;
    width: 100%;
    background: #22E9F4;
    box-shadow: 0px 45px 64px -37px rgba(0, 0, 0, 0.06);
    // padding: 84px 53px 63px 53px;
    padding: 60px 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
  }

  &__card-title {
    // margin: 0 0 15px 0;
    margin: 0;
    // max-width: 631px;
    text-align: center;
    font-weight: 800;
    font-size: 36px;
    font-size: 25px;
    line-height: 1.25;
    color: #000000;
  }

  &__card-closeout {
    // margin: 0 0 30px 0;
    margin: 0 0 15px 0;
    font-weight: 800;
    // font-size: 48px;
    font-size: 30px;
    line-height: 1.25;
    text-align: center;
    color: #FF7400;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__form-input {
    box-sizing: border-box;
    // padding: 25px;
    padding: 15px;
    // max-width: 541px;
    max-width: 360px;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    font-size: 20px;
    line-height: 29px;
    // margin-bottom: 45px;
    margin-bottom: 25px;
  }

  &__form-button {
    margin: 0;
    padding: 60px 90px;
    padding: 30px 60px;
    font-weight: 900;
    // font-size: 48px;
    font-size: 28px;
    line-height: 120.4%;
    text-align: center;
    letter-spacing: -0.015em;
    color: #FFFFFF;
    background: #FF7400;
    box-shadow: 0px 48px 150px 1px rgba(55, 54, 54, 0.51);
    border-radius: 33px;
  }

  & .remodal-close {
    top: 35px;
    right: 40px;
    left: auto;
    color: #000;

    &::before {
      font-size: 35px;
    }
  }
}

.remodal {
  width: auto;
  padding: 15px;
  background: transparent;
}

// /modal


// Стрелка перемотки страницы вверх
.scrollup {
  box-sizing: border-box;
  width: 50px;
  height: 50px;
  padding-top: 7px;
  text-align: center;
  position: fixed;
  bottom: 40px;
  right: 40px;
  display: none;
  // background-color: #c79153;
  background-color: rgba(102, 166, 255, 0.8);
  opacity: 0.7;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 5;

  & svg {
    transform: rotate(-90deg);
    margin: 1px auto 0;
    width: 30px;
    height: 30px;
    fill: #fff;
  }
}

// /Стрелка перемотки страницы вверх



@import 'media';